{% extends 'main/base.html' %}


{% block content %}

     <br/>

    <div class="float-right">

        <form action="{% url 'main-search-supplier' %}" method="get">
            <input type="text" name="q" placeholder="Search supplier...">
            <button class="btn btn-info" type="submit" >Search</button>

        </form>

      <br/>
    </div>

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                     <th>Supplier Name</th>
                     <th>Email</th>
                     <th>Phone number</th>
                </tr>
            </thead>
             {% for item in supplier %}
                <tbody>
                    <tr>
                        <td><a href=" {% url 'main-supplier-detail' item.pk %}"> {{ item.supplier_name }} </a></td>
                         <td>{{ item.email }}</td>
                         <td></td>

                    </tr>
                </tbody>
            {% endfor %}
        </table>



    {% if is_paginated %}

       {% if page_obj.number > 2 %}
            <a class="btn btn-outline-info" href="?page=1">1</a>
            {% if page_obj.number > 3 %}
                ...
            {% endif %}
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info" href="?page={{num}}">{{num}}</a>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                <a class="btn btn-outline-info" href="?page={{num}}">{{num}}</a>
            {% endif %}
         {% endfor %}

        {% if page_obj.number != page_obj.paginator.num_pages|add:'-1' %}
            {% if page_obj.number == page_obj.paginator.num_pages %}
            {% elif page_obj.number == page_obj.paginator.num_pages|add:'-2' %}
                <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% else %}
                ...<a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}

    {% endif %}


{% endblock content %}