{% extends 'main/base.html' %}


{% block content %}

     <br/>

    <div class="container">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                     <th>Product code</th>
                     <th>Name</th>
                     <th>Supplier</th>
                     <th>Price</th>
                </tr>
            </thead>
             {% for item in product %}
                <tbody>
                    <tr>
                        <td>{{ item.product_code }} </td>
                         <td><a href=" {% url 'main-product-detail' item.pk %}"> {{ item.name }} </a></td>
                        <td><a href=" {% url 'main-supplier-detail' item.supplier_name.pk %}"> {{ item.supplier_name }} </a></td>
                         <td>{{ item.price }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>


{% endblock content %}