{% extends 'main/base.html' %}


{% block content %}

     <br/>

    <div class="container">

        <form action="{% url 'main-search-supplier' %}" method="get">
            <input type="text" name="q" placeholder="Search supplier...">
            <button class="btn btn-outline-info" type="submit" >Search</button>


        </form>

        <br/>


        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                     <th>Supplier Name</th>
                     <th>Email</th>
                     <th>Phone number</th>
                </tr>
            </thead>
             {% for item in object_list %}
                <tbody>
                    <tr>
                        <td><a href=" {% url 'main-supplier-detail' item.pk %}"> {{ item.supplier_name }} </a></td>
                         <td>{{ item.email }}</td>
                         <td></td>

                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>


{% endblock content %}