{% extends 'main/base.html' %}


{% block content %}

     <br/>

    <div class="float-right">

        <form action="{% url 'main-search-product' %}" method="get">
            <input type="text" name="q" placeholder="Search product...">
            <button class="btn btn-info" type="submit" >Search</button>


        </form>
        <br/>
    </div>


        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                     <th>Product code</th>
                     <th>Name</th>
                     <th>Supplier</th>
                     <th>Price</th>
                </tr>
            </thead>
             {% for item in object_list %}

                <tbody>
                    <tr>
                        <td>{{ item.product_code }} </td>
                         <td><a href=" {% url 'main-product-detail' item.pk %}"> {{ item.name }} </a></td>
                        <td><a href=" {% url 'main-supplier-detail' item.supplier_name.pk %}"> {{ item.supplier_name }} </a></td>
                         <td>{{ item.price }}</td>
                    </tr>
                </tbody>

            {% endfor %}
        </table>



{% endblock content %}