{% extends 'main/base.html' %}


{% block content %}

     <br/>

    <div class="float-right">

        <form action="{% url 'main-search-product' %}" method="get">
            <input type="text" name="q" placeholder="Search product...">
            <button class="btn btn-info" type="submit" >Search</button>


        </form>
        <br/>
    </div>


        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                     <th>Product code</th>
                     <th>Name</th>
                     <th>Supplier</th>
                     <th>Price</th>
                </tr>
            </thead>
             {% for item in object_list %}

                <tbody>
                    <tr>
                        <td>{{ item.product_code }} </td>
                         <td><a href=" {% url 'main-product-detail' item.pk %}"> {{ item.name }} </a></td>
                        <td><a href=" {% url 'main-supplier-detail' item.supplier_name.pk %}"> {{ item.supplier_name }} </a></td>
                         <td>{{ item.price }}</td>
                    </tr>
                </tbody>

            {% endfor %}
        </table>

    {% if is_paginated %}

       {% if page_obj.number > 2 %}
            <a class="btn btn-outline-info" href="?q={{request.GET.q }}&page=1">1</a>
            {% if page_obj.number > 3 %}
                ...
            {% endif %}
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info" href="?q={{request.GET.q }}&page={{num}}">{{num}}</a>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                <a class="btn btn-outline-info" href="?q={{request.GET.q }}&page={{num}}">{{num}}</a>
            {% endif %}
         {% endfor %}

        {% if page_obj.number != page_obj.paginator.num_pages|add:'-1' %}
            {% if page_obj.number == page_obj.paginator.num_pages %}
            {% elif page_obj.number == page_obj.paginator.num_pages|add:'-2' %}
                <a class="btn btn-outline-info" href="?q={{request.GET.q }}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% else %}
                ...<a class="btn btn-outline-info" href="?q={{request.GET.q }}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}

    {% endif %}


{% endblock content %}